@model System.Data.DataTable
@using JSNet.Utilities;
@using JSNet.BaseSys;


@foreach (System.Data.DataRow dr in Model.Rows)
{
    <div class="list_sym" id="order_@dr["ID"]">
        <div class="list_sym_cc circle rotate90deg">@EnumExtensions.ToDescription((OrderStatus)dr["Status"])</div>
        <div class="list_sym_l">
            <div class="list_sym_l_in">
                <div class="list_sym_l_in_t">报障单号：@dr["OrderNo"]</div>
                <div class="list_sym_l_in_m">
                    <ul>
                        <li>紧急程度：<font color="#ed3232" size="2">@EnumExtensions.ToDescription((OrderPriority)dr["Priority"])</font></li>
                        <div class="clear"></div>
                        <li>发起人：@dr["StarterName"]</li>
                        <li>电话：@dr["StarterTel"]</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="list_sym_l_in_b">
                    @dr["Content"]
                </div>
            </div>
        </div>
        <div class="list_sym_r">
            <a class="orders" onclick="appointOrder('@dr["ID"]')">委派</a>
            <a class="details open-popup" data-target="#full" href="javascript:getOrderFlows('@dr["ID"]');">详情</a>
        </div>
        <div class="clear"></div>
    </div>
}

<script>
    appointOrder = function (orderID) {
        $.confirm("您确定要撤销这条工单吗?", "确认撤销?", function () {
            //$.toast("文件已经删除!");
            var url = '@Url.Action("CancelOrder", "Order")';
            var urlParm = { ID: orderID };
            doGet(url, urlParm, function (jdata) {
                if (jdata.Code == "200") {
                    $('#order_' + orderID).remove();
                }
            });
        }, function () {
            //取消操作
        });
    }

    getOrderFlows = function (orderID) {
        var url = '@Url.Action("GetOrderFlows", "Order")';
        var urlParm = { ID: orderID };
        doGetPartial('orderflows', url, urlParm);
        setOrderStatus();
    }
</script>




