@model System.Data.DataTable
@using JSNet.Utilities;
@using JSNet.BaseSys;


@foreach (System.Data.DataRow dr in Model.Rows)
{
    <div class="list_sym" id="order_@dr["ID"]">
        <div class="list_sym_cc circle rotate90deg">@EnumExtensions.ToDescription((OrderStatus)dr["Status"])</div>
        <div class="list_sym_l">
            <div class="list_sym_l_in">
                <div class="list_sym_l_in_t">报障单号：@dr["OrderNo"]</div>
                <div class="list_sym_l_in_m">
                    <ul>
                        <li>紧急程度：<font color="#ed3232" size="2">@EnumExtensions.ToDescription((OrderPriority)dr["Priority"])</font></li>
                        <div class="clear"></div>
                        <li>发起人：@dr["StarterName"]</li>
                        <li>电话：@dr["StarterTel"]</li>
                        <li>接单人：@dr["HandlerName"]</li>
                        <li>电话：@dr["HandlerTel"]</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="list_sym_l_in_b">
                    @dr["Content"]
                </div>
            </div>
        </div>
        <div class="list_sym_r">
            <a class="details open-popup" data-target="#full" href="javascript:getOrderFlows('@dr["ID"]');">详情</a>
        </div>
        <div class="clear"></div>
    </div>
}

<script>
    getOrderFlows = function (orderID) {
        var url = '@Url.Action("GetOrderFlows", "Order")';
        var urlParm = { ID: orderID };
        doGetPartial('orderflows', url, urlParm);
        setOrderStatus();
    }
</script>




