@{
    ViewBag.Title = "MyStartIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="weui_tab">
    <div class="weui_navbar" id="tab1">
        <li class="weui_navbar_item" id="query_myappointing_btn" onclick="setTab(1,0)">
            未委派
        </li>
        <li class="weui_navbar_item weui_bar_item_on" id="query_myappointed_btn" onclick="setTab(1, 1)">
            已委派
        </li>
    </div>
    <div class="weui_tab_bd" id="tablist1">
        <div class="tablist">
            <div id="myappointing_list"></div>
            @Html.Partial("~/Views/Shared/_Loading.cshtml")
            @Html.Partial("~/Views/Shared/_End.cshtml")
        </div>
        <div class="tablist block">
            <div id="myappointed_list"></div>
            @Html.Partial("~/Views/Shared/_Loading.cshtml")
            @Html.Partial("~/Views/Shared/_End.cshtml")
        </div>
    </div>
</div>

<!--工作流程-->
<div id="orderflows" class='weui-popup-container'>
    <div class="weui-popup-overlay"></div>
    <div class="weui-popup-modal"></div>
</div>

<!--委派工单的页面-->
<div id="appointOrder" class='weui-popup-container'>
    <div class="weui-popup-overlay"></div>
    <div class="weui-popup-modal"></div>
</div>

<script>
    var pageIndex1, pageSize1;
    var pageIndex2, pageSize2;


    $(function () {
        init();
        querymyappointing();
        querymyappointed();
    })

    init = function () {
        //每个页面都需要配置这个，否则query会报错
        pageIndex1 = pageIndex2 = 1;
        pageSize1 = pageSize2 = 5;
    }

    querymyappointing = function () {
        var listDomID = '#myappointing_list';
        if (pageIndex1 == 1) {
            clearDom(listDomID);
        }
        doQuery(
            listDomID,
            '@Url.Action("GetMyAppointingOrders", "Order")',
            { PageIndex: pageIndex1, PageSize: pageSize1 },
            function () {
                pageIndex1++;
            }
        );
    }

    querymyappointed = function () {
        var listDomID = '#myappointed_list';
        if (pageIndex2 == 1) {
            clearDom(listDomID);
        }
        doQuery(
            listDomID,
            '@Url.Action("GetMyAppointedOrders", "Order")',
            { PageIndex: pageIndex2, PageSize: pageSize2 },
            function () {
                pageIndex2++;
            }
        );
    }

    showAppointDiv = function (orderID) {
        var domID = 'appointOrder';
        var url = '@Url.Action("AppointPartialIndex", "Order")';
        var urlParmsObj = { orderID: orderID };
        doGetPartial(domID, url, urlParmsObj);
        $('#' + domID).show();
    }

    hideAppointDiv = function () {
        var domID = '#appointOrder';
        clearDom(domID);
        $('#' + domID).hide();
    }


</script>