@model System.Data.DataTable
@using JSNet.Utilities;
@using JSNet.BaseSys;


@foreach (System.Data.DataRow dr in Model.Rows)
{
    <div class="list_sym" id="handlingorder_@dr["ID"]">
        <div class="list_sym_cc circle rotate90deg">@EnumExtensions.ToDescription((OrderStatus)dr["Status"])</div>
        <div class="list_sym_l">
            <div class="list_sym_l_in">
                <div class="list_sym_l_in_t">报障单号：@dr["OrderNo"]</div>
                <div class="list_sym_l_in_m">
                    <ul>
                        <li>紧急程度：<font color="@EnumExtensions.ToColorStyle((OrderPriority)dr["Priority"])" size="2">@EnumExtensions.ToDescription((OrderPriority)dr["Priority"])</font></li>
                        <div class="clear"></div>
                        <li>联系人：@dr["Attn"]</li>
                        <li>电话：@dr["AttnTel"]</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="list_sym_l_in_b">
                    @dr["Content"]
                </div>
            </div>
        </div>
        <div class="list_sym_r">
            <a class="orders" onclick="doHandled('@dr["ID"]')">完成</a>
            @*<a class="orders" onclick="doAddHandleDetail('@dr["ID"]')">增加进度</a>*@
            <a class="details" href="javascript:openWorkflowsPopup('@dr["ID"]');">详情</a>
        </div>
        <div class="clear"></div>
    </div>
}

<script>
    doAddHandleDetail = function (orderID) {
        return;
        $.confirm("您确定要撤销这条工单吗?", "确认撤销?", function () {
            var url = '@Url.Action("CancelOrder", "Order")';
            var urlParm = { ID: orderID };
            doGet(url, urlParm, function (jdata) {
                if (jdata.Code == "200") {
                    $('#handlingorder_' + orderID).remove();
                }
            });
        }, function () {
            //取消操作
        });
    }

    doHandled = function(orderID){
        $.confirm("您确定完成了这条工单?", "确认?", function () {
            var url = '@Url.Action("HandledOrder", "Order")';
            var urlParm = { OrderID: orderID };
            doGet(url, urlParm, function (jdata) {
                if (jdata.Code == "200") {
                    //刷新已完成
                    handledQuery.pageIndex = 1;
                    querymyhandled();
                    $('#handlingorder_' + orderID).remove();
                }
            });
        }, function () {
            //取消操作
        });
    }
</script>




