@model System.Data.DataTable
@using JSNet.Utilities;
@using JSNet.BaseSys;


@foreach (System.Data.DataRow dr in Model.Rows)
{
    <div class="list_sym" id="receivingorder_@dr["ID"]">
        <div class="list_sym_cc circle rotate90deg">@EnumExtensions.ToDescription((OrderStatus)dr["Status"])</div>
        <div class="list_sym_l">
            <div class="list_sym_l_in">
                <div class="list_sym_l_in_t">报障单号：@dr["OrderNo"]</div>
                <div class="list_sym_l_in_m">
                    <ul>
                        <li>紧急程度：<font color="#ed3232" size="2">@EnumExtensions.ToDescription((OrderPriority)dr["Priority"])</font></li>
                        <div class="clear"></div>
                        <li>发起人：@dr["StarterName"]</li>
                        <li>电话：@dr["StarterTel"]</li>
                        <li>委派人：@dr["AppointerName"]</li>
                        <li>电话：@dr["AppointerTel"]</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="list_sym_l_in_b">
                    @dr["Content"]
                </div>
            </div>
        </div>
        <div class="list_sym_r">
            <a class="orders" onclick="doReceiveOrder('@dr["ID"]')">接单</a>
            <a class="details"  href="javascript:openWorkflowsPopup('@dr["ID"]');">详情</a>
        </div>
        <div class="clear"></div>
    </div>
}

<script>
    doReceiveOrder = function (orderID) {
        $.confirm("您确定要开始处理这条工单吗?", "确认?", function () {
            var url = '@Url.Action("DoReceiveOrder", "Order")';
            var urlParm = { OrderID: orderID };
            doGet(url, urlParm, function (jdata) {
                if (jdata.Code == "200") {
                    $('#receivingorder_' + orderID).remove();
                }
            });
        }, function () {
            //取消操作
        });
    }
</script>




