@{
    ViewBag.Title = "MyStartIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="weui_tab">
    <div class="weui_navbar" id="tab1">
        <li class="weui_navbar_item" id="startemyorder-btn" onclick="setTab(1,0)">
            新发起
        </li>
        <li class="weui_navbar_item weui_bar_item_on" id="querymystarted-btn" onclick="setTab(1, 1)">
            已发起
        </li>
    </div>
    <div class="weui_tab_bd" id="tablist1">
        <div class="tablist">
            <div id="startorder">@Html.Partial("~/Views/Order/StartOrder.cshtml") </div>
        </div>
        <div class="tablist block">
            <div id="my-started-list"></div>
            @Html.Partial("~/Views/Shared/_Loading.cshtml")
            @Html.Partial("~/Views/Shared/_End.cshtml")
        </div>
    </div>
</div>

<!--popup流程-->
<div id="full" class='weui-popup-container'>
    <div class="weui-popup-overlay"></div>
    <div class="weui-popup-modal" id="orderflows"></div>
</div>

<script>
    $(function () {
        init();
        querymystarted();
    })

    init = function () {
        //每个页面都需要配置这个，否则query会报错
        pageIndex = 1;
        pageSize = 5;
    }

    querymystarted = function () {
        $('#querymystarted-btn').off('click', querymystarted);

        if (pageIndex == 1) {
            clearDom('my-started-list');
        }
        doQuery(
            'my-started-list',
            '@Url.Action("GetMyStartedOrders", "Order")',
            { PageIndex: pageIndex, PageSize: pageSize }
        );
    }

    cancelOrder = function (orderID) {
        $.confirm("您确定要撤销这条工单吗?", "确认撤销?", function () {
            //$.toast("文件已经删除!");
            var url = '@Url.Action("CancelOrder", "Order")';
            var urlParm = { ID: orderID };
            doGet(url, urlParm, function (jdata) {
                if (jdata.Code == "200") {
                    $('#order_' + orderID).remove();
                }
            });
        }, function () {
            //取消操作
        });
    }

    getOrderFlows = function (orderID) {
        var url = '@Url.Action("GetOrderFlows", "Order")';
        var urlParm = { ID: orderID };
        doGetPartial('orderflows', url, urlParm);
        setOrderStatus();
    }

    $(document).on("open", ".weui-popup-modal", function () {
        console.log("open popup");
    }).on("close", ".weui-popup-modal", function () {
        console.log("close popup");
    });

</script>
