@model System.Data.DataTable
@using JSNet.Utilities;
@using JSNet.BaseSys;
@using OrderSys.Model;

<div class="times">
    
    <!--流程图-->
    <div class="times_t">
        <div class="times_t_in">
            <ul>
                <li id="Start">
                    <span>开始</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Appointing">
                    <span>待委派</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Receving">
                    <span>待受理</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Handling">
                    <span>处理中</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Checking">
                    <span>待验收</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Finish">
                    <span>完成</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
            </ul>
        </div>   
    </div>

    <!--文字流程-->
    <div class="times_m">
        <ul>
            @foreach(System.Data.DataRow dr in Model.Rows)
            {
                <li>
                <div class="times_m_l">
                    <span>@Convert.ToDateTime(dr["OperateTime"]).ToString(BaseSystemInfo.DateFormat)</span>
                    <label>@Convert.ToDateTime(dr["OperateTime"]).ToString(BaseSystemInfo.TimeFormat)</label>
                </div>
                <div class="times_m_r">
                    <span>[@EnumExtensions.ToDescription((OperationEnum)dr["Operation"])]@dr["OperatorName"]<br />电话：@dr["OperatorTel"]</span>
                    <i class="circle iconfont">&#xe6ff;</i>
                </div>
                <div class="clear"></div>
            </li>
            }
        </ul>
    </div>

    <div class="demos-content-padded bottom_btn">
        <a href="javascript:openOrderdetailPopup('@ViewBag.OrderID');" class="weui_btn weui_btn_plain_default" style="width:46%; height:40px; line-height:40px;  float:left; margin:0; font-size:16px;">查看工单详情</a>
        <a href="javascript:openHandledetailPopup('@ViewBag.OrderID');;" class="weui_btn weui_btn_plain_default" style="width:46%; height:40px; line-height:40px; float:right; margin:0; font-size:16px; ">查看处理过程</a>
        <div class="clear"></div>
    </div>
</div>

<!--工单状态-->
<div class="reject" hidden="hidden">
    <em class="triangle_up"></em>
    <span>@EnumExtensions.ToDescription(ViewBag.OrderStatus)</span>
</div>

@Html.Partial("~/Views/Popup/OrderdetailPopup.cshtml")
@Html.Partial("~/Views/Popup/HandledetailPopup.cshtml")

<script>
    setOrderStatus = function () {
        var status = '@ViewBag.OrderStatus1';
        $("#" + status).find('span').text('@EnumExtensions.ToDescription(ViewBag.OrderStatus)');//给自己添加样式
        $("#" + status).addClass("now");//给自己添加样式
        $("#" + status).prevAll().addClass("now");//给之前的流程添加样式

        //var statusID = ".reject";
        //appendDom("#" + status, $(statusID).get());
        //$("#" + status).children(statusID).show();
    }

    $(function () {
        //不知道为什么要卸载代码底部才能调用上面方法
        setOrderStatus();
    });



</script>



