@{
    //【GetDT】
    ViewBag.Title = "工单发起统计";
    Layout = "~/Areas/Admin/Views/Shared/_InnerLayout.cshtml";
}
<script src="~/Areas/Admin/Script/datapicker/WdatePicker.js"></script>
<form id="filter-form">
    <div style="width:100%;">
        <div class="mini-toolbar" id="toobar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td width="400px">
                        发起时间:
                        <input id="starttime1" class="Wdate" type="text" onfocus="var d2 = $dp.$('starttime2'); WdatePicker({ onpicked: function () { d2.focus(); }, maxDate: '#F{$dp.$D(\'starttime2\')}' })" />
                        至
                        <input id="starttime2" class="Wdate" type="text" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'starttime1\')}' })" />
                    </td>
                    <td width="90px" align="right">所属机构：</td>
                    <td width="240px">
                        @Html.Partial("~/Areas/Admin/Views/Organize/OrganizeDDL.cshtml")
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</form>

@Html.Partial("~/Areas/Admin/Views/Shared/_Header.cshtml", Request.Url.AbsolutePath)
<div class="mini-fit">
    <div id="Orders-datagrid" class="mini-datagrid" idfield="User_ID" ajaxoptions="{type : 'get'}" style="width:100%;height:100%" autoload="false"
         url="@Url.Action("StartStatistics", "Order", new { area = "Admin" })" datafield="Data.DT.JSNet">
        <div property="columns">
            <div type="indexcolumn" headeralign="center">序号</div>
            <div field="StarterID" width="60" headeralign="center" align="center" allowsort="true" visible="false">员工ID</div>
            <div field="StarterName" width="60" headeralign="center" align="center" allowsort="true">姓名</div>
            <div field="Total" width="60" headeralign="center" align="center" allowsort="true">合计</div>
            <div field="AppointingCount" width="60" headeralign="center" align="center" allowsort="true">待委派</div>
            <div field="RecevingCount" width="60" headeralign="center" align="center" allowsort="true">待受理</div>
            <div field="HandlingCount" width="60" headeralign="center" align="center" allowsort="true">处理中</div>
            <div field="CheckingCount" width="60" headeralign="center" align="center" allowsort="true">待验收</div>
            <div field="FinishCount" width="60" headeralign="center" align="center" allowsort="true">已完成</div>

        </div>
    </div>
</div>

<script>
    mini.parse();
    var Orders_grid = mini.get("Orders-datagrid");

    count = function () {
        var form = new mini.Form("filter-form");
        form.validate();
        if (form.isValid() == false) {
            var errorTexts = form.getErrorTexts();
            mini.alert(errorTexts);
            return false
        }

        var key = getFilter();
        
        Orders_grid.setUrl("@Url.Action("StartStatistics", "Order", new { area = "Admin" })")
        Orders_grid.load(key, function (data) {
            ajaxTips(data.text);
        }, function (data) {
        })
    }

    exportOrders = function () {
        var url = '@Url.Action("ExportStartStatistics", "Order", new { area = "Admin" })';
        var key = getFilter();
        doGet(url, key, function (jdata) {
        })
    }

    getFilter = function () {
        var starttime1 = $("#starttime1").val();
        var starttime2 = $("#starttime2").val();
        var starterOrganizeID = mini.get("OrganizeDDL").getValue();
        var key = {
            StartTime1: starttime1 ? starttime1 + " 00:00:00" : "",
            StartTime2: starttime2 ? starttime2 + " 23:59:59" : "",
            StarterOrganizeID: starterOrganizeID,
        };
        return key;
    }
</script>
