
<form id="user-form" method="post">
    <input name="ID" class="mini-hidden" />
    <div style="padding-left:11px;padding-bottom:5px;">
        <table style="table-layout:fixed;">
            <tr>
                <td style="width: 70px; text-align: right">账号：</td>
                <td style="width:150px;">
                    <input name="UserName" class="mini-textbox" required="true" emptytext="请输入帐号" onvalidation="onExistUserNameValidation" />
                </td>
                <td style="width: 70px; text-align: right; ">密码：</td>
                <td style="width:150px;">
                    <input name="Password" class="mini-password" required="false" emptytext="请输入密码" />
                </td>
            </tr>
            <tr>
                <td style="width: 70px; text-align: right; ">允许登录：</td>
                <td>
                    <select name="IsLogin" class="mini-radiobuttonlist">
                        <option value="1">允许</option>
                        <option value="0">禁止</option>
                    </select>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 70px; text-align: right; ">分配角色：</td>
                <td style="width:150px;" colspan="2">
                    @Html.Partial("~/Areas/Admin/Views/Role/RoleDDL.cshtml")
                </td>
            </tr>
        </table>
    </div>
    <fieldset style="border:solid 1px #aaa;padding:3px;">
        <legend>基本信息</legend>
        <div style="padding:5px;">
            <table style="table-layout:fixed;">
                <tr>
                    <td style="width: 70px; text-align: right; ">姓名：</td>
                    <td style="width:150px;">
                        <input name="Staff.Name" class="mini-textbox" required="true" emptytext="请输入姓名" />
                    </td>
                    <td style="width: 70px; text-align: right; ">手机号码：</td>
                    <td style="width:150px;">
                        <input name="Staff.Tel" class="mini-textbox" required="true" emptytext="请输入手机号码" onvalidation="onExistTelValidation" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 70px; text-align: right; ">地址：</td>
                    <td style="width:150px;" colspan="3">
                        <input name="Staff.Addr" class="mini-textbox" required="false" emptytext="请输入地址" width="100%" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 70px; text-align: right; ">性别：</td>
                    <td>
                        <select name="Staff.Sex" class="mini-radiobuttonlist">
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width: 70px; text-align: right; ">所属部门：</td>
                    <td style="width:150px;" colspan="2">
                        @Html.Partial("~/Areas/Admin/Views/Organize/OrganizeDDL.cshtml")
                    </td>
                </tr>
                <tr>
                    <td style="width: 70px; text-align: right; ">是否在职：</td>
                    <td>
                        <select name="Staff.IsOnJob" class="mini-radiobuttonlist">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </fieldset>
    <div style="text-align:center;padding:10px;">
        <a class="mini-button" onclick="onOk" style="width:60px;margin-right:20px;">确定</a>
        <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
    </div>
</form>

<script>
    mini.parse();
    var form = new mini.Form("user-form");

    ////////////////////
    //标准方法接口定义
    function SetData(data) {
        if (data.action == "edit") {
            //不能修改用户名
            mini.getByName("UserName").disable();

            //跨页面传递的数据对象，克隆后才可以安全使用
            data = mini.clone(data);
            var url = '@Url.Action("GetSingle", "User", new { area = "Admin" })';
            var parms = { userID: data.ID };

            doGet(url, parms, function (jdata) {
                var o = jdata.Data
                debugger;
                form.setData(o);
                form.setChanged(false);

                mini.get("OrganizeDDL").setValue(o.Staff.OrganizeID.toString());
                mini.get("OrganizeDDL").SelectedValue = o.Staff.OrganizeID.toString();//这种写法是防止ddl的数据加载慢了，不能用setvalue设置选中值。
                mini.get("RoleDDL").setValue(o.RoleIDs.toString());
                mini.get("RoleDDL").SelectedValue = o.RoleIDs.toString();//这种写法是防止ddl的数据加载慢了，不能用setvalue设置选中值。
            })
        }
    }

    /////////////////
    ///验证相关
    function onExistUserNameValidation(e) {
        var pass = false;
        if (e.isValid) {
            var userID = mini.getbyName("ID").getValue();
            var url = '@Url.Action("VerifyUserName", "User", new { area = "Admin" })';
            var data = { userName: e.value, userID: userID };
            doGetSync(url, data, function (jdata) {
                if (jdata.Code == '200') {
                    debugger;
                    if (jdata.Data == true) {
                    } else {
                        e.errorText = "用户名已存在！";
                        e.isValid = false;
                    }
                }
            });
        }
    }

    function onExistTelValidation(e) {
        var pass = false;
        if (e.isValid) {
            var userID = mini.getbyName("ID").getValue();
            var url = '@Url.Action("VerifyTel", "User", new { area = "Admin" })';
            var data = { tel: e.value, userID: userID };
            doGetSync(url, data, function (jdata) {
                if (jdata.Code == '200') {
                    debugger;
                    if (jdata.Data == true) {
                    } else {
                        e.errorText = "手机号码已存在！";
                        e.isValid = false;
                    }
                }
            });
        }
    }

    /////////////////
    ///保存数据
    function SaveData() {
        var roleIDs = mini.get("RoleDDL").getValue();
        var o = form.getData();
        o.Staff.OrganizeID = mini.get("OrganizeDDL").getValue();
        //将空的属性转为null
        if (o.ID == "") {
            o.ID = null;
        }

        form.validate();
        if (form.isValid() == false) return;

        var url;
        if (o.ID == null) {
            url = '@Url.Action("Add", "User", new { area = "Admin"})';
        } else {
            url = '@Url.Action("Edit", "User", new { area = "Admin"})';
        }
        var json = mini.encode(o);
        var data = { viewModel: json, roleIDs: roleIDs };
        doPost(url, data, function (jdata) {
            if (jdata.Code == "200") {
                CloseWindow("save");
            }
        })
    }

    /////////////////
    ///按钮方法
    function onOk(e) {
        SaveData();
    }
    function onCancel(e) {
        CloseWindow("cancel");
    }


    function CloseWindow(action) {
        if (action == "close" && form.isChanged()) {
            if (confirm("数据被修改了，是否先保存？")) {
                return false;
            }
        }
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }


</script>

