@using OrderSys.Model;
@{
    Layout = "~/Areas/Weixin/Views/Shared/_Layout.cshtml";
}

<div class="weui_tab">
    <div class="weui_navbar" id="tab1">
        <li class="weui_navbar_item weui_bar_item_on" id="query_myappointing_btn" onclick="setTab(1, 0)">
            未委派
        </li>
        <li class="weui_navbar_item" id="query_myappointed_btn" onclick="setTab(1, 1)">
            已委派
        </li>
    </div>
    <div class="weui_tab_bd" id="tablist1">
        <div class="tablist">
            <div id="myappointing_list"></div>
            @Html.Partial("~/Areas/Weixin/Views/Shared/_Fresh.cshtml", "querymyappointing()")
        </div>
        <div class="tablist block">
            <div id="myappointed_list"></div>
            @Html.Partial("~/Areas/Weixin/Views/Shared/_Fresh.cshtml", "querymyappointed()")
        </div>
    </div>
</div>

@*@Html.Partial("~/Areas/Weixin/Views/Popup/WorkflowsPopup.cshtml")
@Html.Partial("~/Areas/Weixin/Views/Popup/AppointPopup.cshtml")*@

<script>
    var myappointedQuery, myappointingQuery;

    $(function () {
        appointingQuery = new Query('#myappointing_list');
        appointedQuery = new Query('#myappointed_list');
        querymyappointed();
        querymyappointing();
    })

    //每个页面必重载的方法
    refresh = function () {
        debugger;
        var tabID = $(".weui_bar_item_on").attr("id");
        if (tabID == "query_myappointing_btn") {
            appointingQuery = new Query('#myappointing_list');
            appointingQuery.pageIndex = 1;
            querymyappointing();
        } else if (tabID == "query_myappointed_btn") {
            appointedQuery = new Query('#myappointed_list');
            appointedQuery.pageIndex = 1;
            querymyappointed();
        }
    }

    //每个页面必重载的方法
    showFilter = function () {
        //定义展开搜索框按钮的调用的方法
        var tabID = $(".weui_bar_item_on").attr("id");
        if (tabID == "query_myappointing_btn") {
            $.alert("此页面不能筛选！", "警告");
            return false;
        } else if (tabID == "query_myappointed_btn") {
            setQueryFilters(appointedQuery);
        }
        $('.top_choose').fadeIn(200);
    }

    //每个页面必重载的方法
    search = function () {
        //定义搜索按钮的调用的方法
        debugger;
        var filter = getQueryFilters();
        var tabID = $(".weui_bar_item_on").attr("id");
        if (tabID == "query_myappointing_btn") {
        } else if (tabID == "query_myappointed_btn") {
            appointedQuery.pageIndex = 1;
            appointedQuery.status = filter.status || "";
            appointedQuery.priority = filter.priority || "";
            appointedQuery.bookingTime = filter.bookingTime || "";
            appointedQuery.content = filter.content || "";
            querymyappointed();
        }
        $('.top_choose').fadeOut(200);
    }

    querymyappointing = function () {
        var url = '@Url.Action("MyAppointingOrders", "Order", new { area = "Weixin" })';
        var parms = {
            PageIndex:appointingQuery.pageIndex,
            PageSize: appointingQuery.pageSize,
        };
        doQuery1(appointingQuery, url, parms);
    }

    querymyappointed = function () {
        var url = '@Url.Action("MyAppointedOrders", "Order", new { area = "Weixin" })';
        var parms = {
            PageIndex: appointedQuery.pageIndex,
            PageSize: appointedQuery.pageSize,
            Status: appointedQuery.status,
            Priority: appointedQuery.priority,
            BookingTime: appointedQuery.bookingTime,
            Content: appointedQuery.content,
        };
        doQuery1(appointedQuery, url, parms);
    }

</script>
