@model System.Data.DataTable
@using JSNet.Utilities;
@using JSNet.BaseSys;
@using JSNet.Service;

@foreach (System.Data.DataRow dr in Model.Rows)
{
    <div class="list_sym" id="receivingorder_@dr["ID"]">
        <div class="list_sym_cc circle rotate90deg">@EnumExtensions.ToDescription((OrderStatus)dr["Status"])</div>
        <div class="list_sym_l">
            <div class="list_sym_l_in">
                <div class="list_sym_l_in_t">报障单号：@dr["OrderNo"]</div>
                <div class="list_sym_l_in_m">
                    <ul>
                        <li>紧急程度：<font color="@EnumExtensions.ToColorStyle((OrderPriority)dr["Priority"])" size="2">@EnumExtensions.ToDescription((OrderPriority)dr["Priority"])</font></li>
                        <div class="clear"></div>
                        <li>截止日期：@Convert.ToDateTime(dr["BookingTime"]).ToString(BaseSystemInfo.DateFormat)</li>
                        <div class="clear"></div>
                        <li>发起人：@dr["StarterName"]</li>
                        <li>电话：<a href="tel:@dr["StarterTel"]">@dr["StarterTel"]</a></li>
                        <div class="clear"></div>
                        <li>委派人：@dr["AppointerName"]</li>
                        <li>电话：<a href="tel:@dr["AppointerTel"]">@dr["AppointerTel"]</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="list_sym_l_in_b">
                    @dr["Content"]
                </div>
            </div>
        </div>
        <div class="list_sym_r">
            @{if (new PermissionService().IsButtonAuthorizedByRole("OrderSys_VX.MyHandleIndex.Receive"))
              {
                  <a class="orders" onclick="doReceiveOrder('@dr["ID"]')">接单</a>
              }
            }
            @{if (new PermissionService().IsButtonAuthorizedByRole("OrderSys_VX.PublicButton.OrderFlows"))
              {
                  <a class="details"  href="@Url.Action("OrderFlows", "Order", new {area = "Weixin",OrderID = dr["ID"] })">详情</a>
              }
            }
        </div>
        <div class="clear"></div>
    </div>
}

<script>
    doReceiveOrder = function (orderID) {
        $.confirm("您确定要开始处理这条工单吗?", "确认?", function () {
            var url = '@Url.Action("DoReceiveOrder", "Order", new { area = "Weixin" })';
            var urlParm = { OrderID: orderID };
            doGet(url, urlParm, function (jdata) {
                if (jdata.Code == "200") {
                    $('#receivingorder_' + orderID).remove();
                    handlingQuery.pageIndex = 1;
                    querymyhandling();
                }
            });
        }, function () {
            //取消操作
        });
    }
</script>




