@using OrderSys.Model;
@{
    ViewBag.Title = "MyStartIndex";
    Layout = "~/Areas/Weixin/Views/Shared/_Layout.cshtml";
}
<div class="weui_tab">
    <div class="weui_navbar" id="tab1">
        <li class="weui_navbar_item" id="startmyorder_btn" onclick="setTab(1,0)">
            新发起
        </li>
        <li class="weui_navbar_item weui_bar_item_on" id="query_mystarted_btn" onclick="setTab(1, 1)">
            已发起
        </li>
    </div>
    <div class="weui_tab_bd" id="tablist1">
        <div class="tablist">
            <div id="startorder">@Html.Partial("~/Areas/Weixin/Views/Order/StartOrder.cshtml") </div>
        </div>
        <div class="tablist block">
            <div id="mystarted_list"></div>
            @Html.Partial("~/Areas/Weixin/Views/Shared/_Fresh.cshtml", "querymystarted()")
        </div>
    </div>
</div>

<script>
    var startedQuery;

    $(function () {
        startedQuery = new Query('#mystarted_list');
        querymystarted();
    })

    

    //每个页面必重载的方法
    refresh = function () {
        //定义刷新按钮的调用的方法
        var tabID = $(".weui_bar_item_on").attr("id");
        if (tabID == "query_mystarted_btn") {
            startedQuery.pageIndex = 1;
            querymystarted();
        } else if (tabID == 'startmyorder_btn') {
            doClearStartForm();
        }
    }

    //每个页面必重载的方法
    showFilter = function () {
        //定义展开搜索框按钮的调用的方法
        var tabID = $(".weui_bar_item_on").attr("id");
        if (tabID == "query_mystarted_btn") {
            startedQuery.tabID = 'query_mystarted_btn';
            setQueryFilters(startedQuery);
        }
        fadeInFilter()
    }

    //每个页面必重载的方法
    search = function () {
        //定义搜索按钮的调用的方法
        debugger;
        var filter = getQueryFilters();
        var tabID = $(".weui_bar_item_on").attr("id");
        if (tabID == "query_mystarted_btn") {
            startedQuery.pageIndex = 1;
            startedQuery.status = filter.status || "";
            startedQuery.priority = filter.priority || "";
            startedQuery.bookingTime = filter.bookingTime || "";
            startedQuery.content = filter.content || "";
            startedQuery.workingLocation = filter.workingLocation || "";
            querymystarted();
        } else if (tabID == 'startmyorder_btn') {
            $.alert("此页面不能筛选！");
            //隐藏筛选按钮
        }
        fadeOutFilter();
    }

    querymystarted = function () {
        var q = startedQuery;
        var url = '@Url.Action("MyStartedOrders", "Order", new { area = "Weixin" })';
        var parms = {
            PageIndex: startedQuery.pageIndex,
            PageSize: startedQuery.pageSize,
            Status: startedQuery.status,
            Priority: startedQuery.priority,
            BookingTime: startedQuery.bookingTime,
            Content: startedQuery.content,
            WorkingLocation: startedQuery.workingLocation,
        };
        debugger;
        doQuery1(startedQuery, url, parms);
    }

    checkOrder = function (orderID) {
        $.modal({
            title: "",
            text: "请选择验收操作。",
            buttons: [
            { text: "通过", onClick: function () { doCheckOrder(orderID); } },
            { text: "驳回", onClick: function () { doRejectOrder(orderID); } },
            { text: "取消", className: "default" },
            ]
        });
    }

    doCancelOrder = function (orderID) {
        $.confirm("您确定要撤销这条工单吗?", "确认撤销?", function () {
            var url = '@Url.Action("CancelOrder", "Order", new { area = "Weixin" })';
            var urlParm = { OrderID: orderID };
            doGet(url, urlParm, function (jdata) {
                if (jdata.Code == "200") {
                    $('#startedorder_' + orderID).slideUp("normal");
                }
            });
        }, function () {
            //取消操作
        });
    }

    doCheckOrder = function (orderID) {
        var url = '@Url.Action("FinishOrder", "Order", new { area = "Weixin" })';
        var urlParm = { OrderID: orderID };
        doGet(url, urlParm, function (jdata) {
            if (jdata.Code == "200") {
                // TODO 验收后，列表应该怎么显示？ 
                $('#startedorder_' + orderID).hide("normal");
            }
        });
    }

    doRejectOrder = function (orderID) {
        $.prompt({
            text: "请输入驳回的原因。",
            title: "",
            onOK: function (text) {
                var url = '@Url.Action("RejectOrder", "Order", new { area = "Weixin" })';
                var urlParm = { OrderID: orderID, Remark: text };
                doGet(url, urlParm, function (jdata) {
                    if (jdata.Code == "200") {
                        // TODO 驳回后，列表应该怎么显示？ 
                        $('#startedorder_' + orderID).hide("normal");
                    }
                });
            },
            onCancel: function () {
            },
        });
    }

</script>
