@model System.Data.DataTable
@using JSNet.Utilities;
@using JSNet.BaseSys;
@using OrderSys.Model;
@using JSNet.Service;

@{
    Layout = "~/Areas/Weixin/Views/Shared/_InnerLayout.cshtml";
}
<div class="times">
    
    <!--流程图-->
    <div class="times_t">
        <div class="times_t_in">
            <ul>
                <li id="Start">
                    <span>开始</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Appointing">
                    <span>待委派</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Receving">
                    <span>待受理</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Handling">
                    <span>处理中</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Checking">
                    <span>待验收</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
                <li id="Finish">
                    <span>完成</span>
                    <label class="circle"></label>
                    <i></i>
                </li>
            </ul>
        </div>   
    </div>
	
	<!--按钮-->
	<div class="demos-content-padded bottom_btn">
        <a href="@Url.Action("OrderDetail", "Order", new { area = "Weixin",OrderID = ViewBag.Order.ID})" class="weui_btn weui_btn_plain_default" style="width:46%; height:30px; line-height:30px;  float:left; margin:0; font-size:14px;  border-radius:60px; ">查看工单详情</a>
        <a href="@Url.Action("HandleDetail", "Order", new {area = "Weixin", OrderID = ViewBag.Order.ID })" class="weui_btn weui_btn_plain_default" style="width:46%; height:30px; line-height:30px; float:right; margin:0; font-size:14px;  border-radius:60px; ">查看处理进度</a>
		<div class="clear"></div>
	</div>

    <!--文字流程-->
    <div class="times_m">
        <ul>
            @foreach(System.Data.DataRow dr in Model.Rows)
            {
                <li>
                <div class="times_m_l">
                    <label>@Convert.ToDateTime(dr["OperateTime"]).ToString(BaseSystemInfo.TimeFormat)</label>
                    <span>@Convert.ToDateTime(dr["OperateTime"]).ToString(BaseSystemInfo.DateFormat)</span>
                </div>
                <div class="times_m_r">
                    <span>
                        [@EnumExtensions.ToDescription((OperationEnum)dr["Operation"])]@dr["OperatorName"]
                        <br />电话：<a href="tel:@dr["OperatorTel"]">@dr["OperatorTel"]</a>
                        <br />@(string.IsNullOrEmpty(dr["Remark"].ToString())?"":"备注："+dr["Remark"])
                    </span>
                    
                    <i class="circle iconfont">&#xe6ff;</i>
                </div>
                <div class="clear"></div>
            </li>
            }
        </ul>
    </div>
</div>

<div style="height:71px"></div>

<!--工单状态-->
<div class="reject" hidden="hidden">
    <em class="triangle_up"></em>
    <span>@EnumExtensions.ToDescription(ViewBag.OrderStatus)</span>
</div>
@{if (ViewBag.OrderStatus == OrderStatus.Appointing
      && new PermissionService().IsButtonAuthorizedByRole("OrderSys_VX.MyAppointIndex.Appoint"))
{
    <a class="weui_btn weui_btn_primary bottom_btn1" href="@Url.Action("AppointOrder", "Order", new { area = "Weixin", OrderID = ViewBag.Order.ID })">委派</a>
}
}
@{if (ViewBag.OrderStatus == OrderStatus.Checking
    && new PermissionService().IsButtonAuthorizedByRole("OrderSys_VX.MyStartIndex.Check")
      && ViewBag.Order.NextOperatorID == new OrderService().CurrentStaff.ID)
{
    <a id="check_btn" class="weui_btn weui_btn_primary bottom_btn1">验收</a>
}
}
@{if (ViewBag.OrderStatus == OrderStatus.Receving
      && new PermissionService().IsButtonAuthorizedByRole("OrderSys_VX.MyHandleIndex.Receive")
      && ViewBag.Order.NextOperatorID == new OrderService().CurrentStaff.ID)
{
    <a id="receive_btn" class="weui_btn weui_btn_primary bottom_btn1" onclick="doReceiveOrder('')">接单</a>
}
}

<script>
    var _orderID = '@ViewBag.Order.ID';
    setOrderStatus = function () {
        var status = '@ViewBag.OrderStatus1';
        $("#" + status).find('span').text('@EnumExtensions.ToDescription(ViewBag.OrderStatus)');//给自己添加样式
        $("#" + status).addClass("now");//给自己添加样式
        $("#" + status).prevAll().addClass("now");//给之前的流程添加样式
    }

    $(function () {
        //不知道为什么要写在代码底部才能调用上面方法
        setOrderStatus();
    });

    $('#receive_btn').on('click', function () {
        $.confirm("您确定要开始处理这条工单吗?", "确认?", function () {
            var url = '@Url.Action("DoReceiveOrder", "Order", new { area = "Weixin" })';
            var urlParm = { OrderID: _orderID };
            doGet(url, urlParm, function (jdata) {
                if (jdata.Code == "200") {
                    $(this).hide();
                }
            });
        }, function () {
            //取消操作
        });
    });


    $('#check_btn').on('click', function () {
        var dom = $(this);
        $.modal({
            title: "",
            text: "请选择验收操作。",
            buttons: [
            { text: "通过", onClick: function () { doCheckOrder(dom); } },
            { text: "驳回", onClick: function () { doRejectOrder(dom); } },
            { text: "取消", className: "default" },
            ]
        });
    });

    doCheckOrder = function (dom) {
        var url = '@Url.Action("FinishOrder", "Order", new { area = "Weixin" })';
        var urlParm = { OrderID: _orderID };
        doGet(url, urlParm, function (jdata) {
            if (jdata.Code == "200") {
                dom.hide();
            }
        });
    }

    doRejectOrder = function (dom) {
        $.prompt({
            text: "请输入驳回的原因。",
            title: "",
            onOK: function (text) {
                var url = '@Url.Action("RejectOrder", "Order", new { area = "Weixin" })';
                var urlParm = { OrderID: _orderID, Remark: text };
                doGet(url, urlParm, function (jdata) {
                    if (jdata.Code == "200") {
                        dom.hide();
                    }
                });
            },
            onCancel: function () {
            },
        });
    }



</script>



