@model System.Data.DataRow
@using JSNet.Utilities;
@using JSNet.BaseSys;
@using JSNet.Service;
@{
    Layout = "~/Areas/Weixin/Views/Shared/_InnerLayout.cshtml";
}

<div class="weui_cells_title">维修地点</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        @(string.IsNullOrEmpty(Model["WorkingLocation"].ToString()) ? "无" : Model["WorkingLocation"])
    </div>
</div>

<div class="weui_cells_title">内容</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        @Model["Content"]
    </div>
</div>

<div class="weui_cells_title">备注</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        @(string.IsNullOrEmpty(Model["Remark"].ToString()) ? "无" : Model["Remark"])
    </div>
</div>

<div class="weui_cells_title">紧急程度</div>
<div class="weui_cells weui_cells_checkbox">
    <label class="weui_cell ">
        <div class="weui_cell_bd weui_cell_primary">
            <p>@EnumExtensions.ToDescription((OrderPriority)Model["Priority"])</p>
        </div>
    </label>
</div>

<div class="weui_cells_title">图片</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        @{if (!string.IsNullOrEmpty(Model["PhotoPath"].ToString()))
        {
            <div class="pic_box">
                <a class="example-image-link" href="@UploadService.UploadPath@Model["PhotoPath"]" data-lightbox="example-set" data-title=""><img src="@UploadService.UploadPath@Model["PhotoPath"]" /></a>
                <em class="verticalAlign"></em>
            </div>
        }}
        @{if (!string.IsNullOrEmpty(Model["PhotoPath1"].ToString()))
        {
            <div class="pic_box">
                <a class="example-image-link" href="@UploadService.UploadPath@Model["PhotoPath1"]" data-lightbox="example-set" data-title=""><img src="@UploadService.UploadPath@Model["PhotoPath1"]" /></a>
                <em class="verticalAlign"></em>
            </div>
        }}

    </div>
</div>

<div class="weui_cells_title">完成后图片</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        @{if (!string.IsNullOrEmpty(Model["HandledPhotoPath"].ToString()))
        {
            <div class="pic_box">
                <a class="example-image-link" href="@UploadService.UploadPath@Model["HandledPhotoPath"]" data-lightbox="example-set" data-title=""><img src="@UploadService.UploadPath@Model["HandledPhotoPath"]" /></a>
                <em class="verticalAlign"></em>
            </div>
        }}
        @{if (!string.IsNullOrEmpty(Model["HandledPhotoPath1"].ToString()))
        {
            <div class="pic_box">
                <a class="example-image-link" href="@UploadService.UploadPath@Model["HandledPhotoPath1"]" data-lightbox="example-set" data-title=""><img src="@UploadService.UploadPath@Model["HandledPhotoPath1"]" /></a>
                <em class="verticalAlign"></em>
            </div>
        }}

    </div>
</div>

<div class="weui_cells_title">更换的物品</div>
<div class="weui_cells weui_cells_form">
    @{if (!string.IsNullOrEmpty(ViewBag.FeeOrderGoods))
    {
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">收费：</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @ViewBag.FeeOrderGoods
            </div>
        </div>
    }}
    @{if (!string.IsNullOrEmpty(ViewBag.FreeOrderGoods))
    {
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">不收费：</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @ViewBag.FreeOrderGoods
            </div>
        </div>
    }}
</div>


<div class="weui_cells weui_cells_form">

    <div class="weui_cell">
        <div class="weui_cell_hd"><label for="" class="weui_label">发起时间</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            @Convert.ToDateTime(Model["StartTime"]).ToString(BaseSystemInfo.DateTimeFormat)
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label for="" class="weui_label">截止日期</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            @(string.IsNullOrEmpty(Model["BookingTime"].ToString())? "无" : Convert.ToDateTime(Model["BookingTime"]).ToString(BaseSystemInfo.DateFormat))   
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">联系人</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            @Model["Attn"]
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">联系电话</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <a href="tel:@Model["AttnTel"]">@Model["AttnTel"]</a>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">发起人</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            @Model["StarterName"]
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">联系电话</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <a href="tel:@Model["StarterTel"]">@Model["StarterTel"]</a>
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">委派人</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            @Model["AppointerName"]
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">联系电话</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <a href="tel:@Model["AppointerTel"]">@Model["AppointerTel"]</a>
        </div>
    </div>

    @foreach(System.Data.DataRow dr in ViewBag.Handlers.Rows){
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">处理者</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @dr["HandlerName"] @((int)dr["IsLeader"] == (int)TrueFalse.True ? "（领队）" : "")
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">联系电话</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <a href="tel:@dr["HandlerTel"]">@dr["HandlerTel"]</a>
            </div>
        </div>
    }

</div>

<!--lightbox-->
<link rel="stylesheet" href="~/Content/picbox/css/lightbox.css">
<script src="~/Content/picbox/js/jquery-1.11.0.min.js"></script>
<script src="~/Content/picbox/js/lightbox.js"></script>
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2196019-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
