@{
    //【GetList分页】
    ViewBag.Title = "角色管理";
    Layout = "~/Areas/Admin/Views/Shared/_InnerLayout.cshtml";
}

@Html.Partial("~/Areas/Admin/Views/Shared/_Header.cshtml", Request.Url.AbsolutePath)
<div class="mini-fit">
    <div id="Role-datagrid" class="mini-treegrid" ajaxoptions="{type : 'get'}" style="width:100%;height:100%" autoload="false"
         url="@Url.Action("GetRoleDT", "Role", new { area = "Admin" })" showtreeicon="false" resultastree="false" expandonload="1" multiselect="false" showcheckbox="false" showfoldercheckbox="false"
         treecolumn="treename" idfield="Organize_ID" parentfield="Organize_ParentID" datafield="Data.DT.JSNet">
        <div property="columns">
            <div field="Role_ID" width="180" headeralign="center" align="center" allowsort="true" visible="false">角色ID</div>
            <div name="treename" field="Organize_FullName" width="180" headeralign="center" align="left" allowsort="true">所属机构</div>
            <div field="Role_FullName" width="180" headeralign="center" align="center" allowsort="true">角色名称</div>
            <div field="Role_Description" width="120" headeralign="center" align="left" allowsort="true">角色描述</div>
        </div>
    </div>
</div>


<script>
    mini.parse()
    var Role_grid = mini.get("Role-datagrid");

    Role_grid.load({
    }, function (data) {
        ajaxTips(data.text);
    }, function (data) {
    })


    function add() {
        mini.open({
            url: "@Url.Action("InsertRoleIndex", "Role", new { area = "Admin" })",
            title: "新增角色", width: 500, height: 600,
            onload: function () {
                debugger;
                var iframe = this.getIFrameEl();
                var data = { action: "new" };
                iframe.contentWindow.SetData(data);
            },
            ondestroy: function (action) {
                Role_grid.reload();
            }
        });
    }

    function edit() {
        var row = Role_grid.getSelected();
        if (row) {
            mini.open({
                url: "@Url.Action("EditRoleIndex", "Role", new { area = "Admin" })",
                title: "编辑角色", width: 500, height: 600,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    debugger;
                    var data = { action: "edit", ID: row.Role_ID };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    Role_grid.reload();
                }
            });

        } else {
            alert("请选中一条记录");
        }
    }

    function grantRoleModule() {
        var row = Role_grid.getSelected();
        if (row) {
            mini.open({
                url: "@Url.Action("GrantPermissionModuleIndex", "Permission", new { area = "Admin" })",
                title: "配置角色模块", width: 800, height: 600,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = {
                        ID: row.Role_ID,
                    };
                    iframe.contentWindow.SetGridData(data);
                },
                ondestroy: function (action) {
                    Role_grid.reload();
                }
            });
        } else {
            alert("请选中一条记录");
        }

    }

    function grantRoleScope() {
        var row = Role_grid.getSelected();
        if (row) {
            mini.open({
                url: "@Url.Action("GrantPermissionScopeIndex", "Permission", new { area = "Admin" })",
                title: "配置角色资源", width: 800, height: 600,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = {
                        ID: row.Role_ID,
                    };
                    iframe.contentWindow.SetGridData(data);
                },
                ondestroy: function (action) {
                    Role_grid.reload();
                }
            });
        } else {
            alert("请选中一条记录");
        }

    }


</script>
