
<form id="Demo-form" method="post" style="">
    <input name="ID" class="mini-hidden" />
    <div style="padding-left:11px;padding-bottom:5px;">
        <table style="table-layout:fixed;">
            <tr>
                <td style="width:70px;">父级元素：</td>
                <td style="width:150px;">
                    @Html.Partial("~/Areas/Admin/Views/Demo/Demo_TreeDDL.cshtml")
                </td>
            </tr>
            <tr>
                <td style="width:70px;">标题：</td>
                <td style="width:150px;">
                    <input name="FullName" class="mini-textbox" required="true" emptytext="请输入标题"/>
                </td>
                <td style="width:70px;">标识码：</td>
                <td style="width:150px;">
                    @Html.Partial("~/Areas/Admin/Views/Demo/DemoCode_DDL.cshtml", "onExistDemoCodeValidation")
                </td>
            </tr>
            <tr>
                <td style="width:70px;">是否公共：</td>
                <td>
                    <select name="IsPublic" class="mini-radiobuttonlist" value="0">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </td>
                <td style="width:70px;">是否可用：</td>
                <td>
                    <select name="IsEnable" class="mini-radiobuttonlist" value="1">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width:70px;">排序：</td>
                <td style="width:150px;">
                    <input name="SortCode" class="mini-textbox" required="true" value="100" emptytext="请输入排序号" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="width:70px;">备注：</td>
                <td style="width:150px" colspan="3">
                    <input name="Description" class="mini-textarea" required="false" emptytext="请输入备注内容（可选）" />
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align:center;padding:10px;">
        <a class="mini-button" onclick="onOk" style="width:60px;margin-right:20px;">确定</a>
        <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
    </div>
</form>

<script>
    mini.parse();
    var form = new mini.Form("Demo-form");

    ////////////////////
    //标准方法接口定义
    function SetData(data) {
        if (data.action == "edit") {
            //跨页面传递的数据对象，克隆后才可以安全使用
            data = mini.clone(data);
            var url = '@Url.Action("GetSingleDemo", "Demo", new { area = "XXX" })';
            var parms = { DemoID: data.ID };

            doGet(url, parms, function (jdata) {
                var o = jdata.Data
                debugger;
                form.setData(o);
                form.setChanged(false);

                mini.get("DemoDDL").setValue(o.Code);
                mini.get("DemoDDL").SelectedValue = o.Code;//这种写法是防止ddl的数据加载慢了，不能用setvalue设置选中值。
            })
        }
    }

    /////////////////
    ///验证相关
    function onExistDemoCodeValidation(e) {
        var pass = false;
        if (e.isValid) {
            var DemoID = mini.getbyName("ID").getValue();
            var url = '@Url.Action("VerifyDemoCode", "Demo", new { area = "XXX" })';
            var data = { DemoCode: e.value, DemoID: DemoID };
            doGetSync(url, data, function (jdata) {
                if (jdata.Code == '200') {
                    debugger;
                    if (jdata.Data == true) {
                    } else {
                        e.errorText = "编号已存在！";
                        e.isValid = false;
                    }
                }
            });
        }
    }

    /////////////////
    ///保存数据
    function SaveData() {

        var o = form.getData();
        o.ParentID = mini.get("DemoDDL").getValue();
        o.Code = mini.get("DemoCodeDDL").getValue();
        debugger;
        //将空的属性转为null
        if (o.ID == "") {
            o.ID = null;
        }

        form.validate();
        if (form.isValid() == false) return;

        var url;
        if (o.ID == null) {
            url = '@Url.Action("AddDemo", "Demo", new { area = "XXX"})';
        } else {
            url = '@Url.Action("EditDemo", "Demo", new { area = "XXX" })';
        }
        var json = mini.encode(o);
        var data = { ViewModel: json };
        doPost(url, data, function (jdata) {
            CloseWindow("save");
        })
    }

    /////////////////
    ///按钮方法
    function onOk(e) {
        SaveData();
    }
    function onCancel(e) {
        CloseWindow("cancel");
    }


    function CloseWindow(action) {
        if (action == "close" && form.isChanged()) {
            if (confirm("数据被修改了，是否先保存？")) {
                return false;
            }
        }
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }


</script>

